body
{
    background-color: rgb(53, 52, 52);
}
nav.nous:hover{
    transform: scale(50px);
}
h1{
    color: red;
    display: flex;
    justify-content:space-around;
    text-shadow: 6px 6px 10px black;
}

p.yo{
    color: #fff;
    display: flex;
    justify-content: center;
}

img{
    width: 500px;
    height: 500px;
}

div.Photo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: glisse 20s infinite ease;
    
}

@keyframes glisse {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-150px);
    }
    40% {
        transform: translateX(-250px);
    }
    60% {
        transform: translateX(-400px);
    }
    80% {
        transform: translateX(-650px);
    }
    100%{
        transform: translate(-950px);
    }
}


p.Alexandre{
    color: #fff;
    display: flex;
    justify-content: center;   
    text-align: justify; 
}
p
{
    padding: 15px;
}

p.us
{
    color:#fff;
}
p.decalage
{
    color: #fff;
    
    
}
.flotant
{
    width: 500px;
    height: 500px;
    vertical-align: middle;
    margin: 20px;
}

a.utilise
{
    color: #fff;
}
a.yo
{
    color: #fff;
    display: flex;
    justify-content: center;
}
div.Photo2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


